html, body {
    margin: 0;
    padding: 0;
    background-color: #f3f7f8;
}
figcaption {
    background: #f3f7f8;
    padding: .5em;
    color: #2c3e50;
    border-top: 5px solid #21c2f8;
}
footer {
    border-top: 30px solid #21c2f8;
    background: #f3f7f8;
    text-align: center;
    padding: 1em;
}
footer button {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #21c2f8;
    border-radius: 5%;
    padding: .3em;
    background: #f3f7f8;
}
footer button:hover{
    background: #21c2f8;
    border: 1px solid #2c3e50;
    color:  #f3f7f8;
}
.nav-top {
    background:#f3f7f8;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    font-size: 105%;
}
.nav-top p{
    margin: 0;
}
.nav-top p:hover, .nav-top a:hover{
    color: #21c2f8;
}
.nav-left, .nav-right {
    width: 50%;
    padding: .5em;
}
.nav-right {
    text-align: right;
}
.subnav {
    width: 100%;
    background: #21c2f8;
    text-align: right;
}
.nav-socials {
    padding: .2em;
}
.nav-socials a {
    color: #2c3e50;
}
.nav-socials a:hover {
    color: #f3f7f8;
}
.wrapper {
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground-mobile.jpg");
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper a {
    text-decoration: none;
}
.top {
    display: flex;
    flex-direction: column;
}
.top > .hello {
    order: 1;
}
.top > .links-container {
    order: 2;
}
.hello {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    border-bottom: 30px solid #21c2f8;
}
.paragraph-light {
    color: #f3f7f8;
}
.paragraph-dark {
    color: #2c3e50;
}
.paragraph-interests {
    color: #f3f7f8;
}
.owl-item figure{
    width: 90%;
    margin: 1em auto;
}
.links {
    background-color: #f3f7f8;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    color: #2c3e50;
    border-bottom: 30px solid #21c2f8;
}
.links li {
    height: 1.2em;
    padding: 1em;
    font-size: 110%;
    font-weight: bold;
}
.links a {
    color: #2c3e50;
}
.links a:hover {
    color: #21c2f8;
}
.border-underline {
    border-bottom: 2px solid #21c2f8;
}
.fab {
    font-size: 150%;
}
.sitemap ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    border-top: 2px solid #2c3e50;
    margin-top: 0;
}
.sitemap li {
    margin: auto;  
    padding: .2em; 
    text-align: center;
}
.sitemap p {
    margin-bottom: 0;
}
.sitemap a {
    color: #202020;
}
.sitemap a:hover {
    color: #21c2f8;
}
.sitemap-lines {
    display: flex;
}
.sitemap-border li {
    border-left: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;
}
.legal{
    color: #2c3e50;
    display: flex;
    padding: .5em;
}
.legal a{
    color: #2c3e50;
}
.legal a:hover{
    color: #21c2f8;
}
.legal p {
    width: 50%;
}
#headshot-img {
    border-radius: 50%;
    width: 140px;
}
#sitemap-left {
    border-right: 1px solid #2c3e50;
}
#sitemap-right {
    border-left: 1px solid #2c3e50;
}
#sitemap-left, #sitemap-right {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 10px;
    width: 50%;
}
@media (min-width: 768px) { 
    figure {
        border-radius: 10%;
    }
    .wrapper {
        background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/toronto2.jpg");
        background-position-x: 70%;
    }
    .top {
        flex-direction: row;
    }
    .top > .hello {
    order: 2;
    }
    .top > .links-container {
        order: 1;
    }
    .links-container, .hello {
        width: 50%;
    }
    .hello {
        margin: 2em;
        border-bottom: none;
        background: #2c3e50;
        border: 1px solid #21c2f8;
        text-align: left;
    }
    .hello p {
        color: #21c2f8;
    }
    .links-container {
        padding: 2em;
    }
    .links {
        font-size: 65%;
        border: 1px solid #21c2f8;
        width: 160px;
        margin: 0;
    }
    .border-underline {
        border-bottom: 1px solid #21c2f8;
    }
    .links li {
        padding: .6em;
    }
    .owl-carousel figure{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #headshot-img {
        margin: .5em;
        float: right;
    }
    #team-canada {
        font-size: 25%;
    }
}
@media (min-width: 850px) {
    .links-container {
        width: 70%;
    }  
    .hello {
        width: 30%;
    }
    .wrapper {
        background-position-y: bottom;
    }
    .paragraph-light {
        font-size: 120%;
    } 
}
/*

#202020 - black
#2c3e50 - navy
#21c2f8 - light blue
#bdc3c7 - grey
#f3f7f8 - light grey