/* colour palette used:

grape - #802BB1
dark violet - #2D283E
grey - #43495D
violet-grey - #564F6F
light grey - #D1D7E0;
*/

/* global styles */
html, body {
    margin:0;
    padding:0;
}
body {
    background-color: black;
}
h1 {
    font-size: 180%;
    margin: auto;
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: #43495D;
    padding-top: 5.5em;
    text-shadow: 1px 1px 2px #D1D7E0;
    width: 80%;
}
h2 {
    font-family: 'Teko', sans-serif;
    text-align: center;   
    margin: auto;
    color: #43495D;
    font-size: 120%;
    text-shadow: 1px 1px 2px #D1D7E0;
    width: 80%;
}
h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 100%;
}
p {
    font-family: 'IM Fell English SC', serif;
    color: #802BB1;
}
/* header styles */

header {
    width: 100%;
    height: 24em;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a17706f58bd8f2893b75c64da56a5d21&auto=format&fit=crop&w=800&q=80");
    background-size: cover;
    background-position-y: 50%;
    padding-top: 1em;
}

/* main styles */

.main-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;  
}
li {
    height: 50px;
    width: 90%;
    color: #2D283E; 
    padding: .3em;   
}
ul {
    list-style-type: none; 
    width: 100%;
    padding: 0;
    max-width: 576px;

}
.selection {
    background: linear-gradient( #D1D7E0, #2D283E);
    border: 3px solid #43495D;
    padding: 1em;
}
#cosmos {
    font-family: 'Libre Barcode 128 Text', 'cursive';
    font-size: 160%;
    color: #802BB1;
    float:right;
    margin-top: 15px;
    
}
#chewy-standing {
    margin: auto;
}
.thumbnail {
    height: 3.5em;
    width: auto;   
    float: right; 
}
.redirect {
    flex-direction: row;
}

@media (min-width: 576px) {
    header {
        height: 16em;
    }
    h1 {
        padding-top: 4em;
    }
    li {
        margin: 2em auto;
    }
    .thumbnail, #cosmos {
        margin-right: 0;
    }
}

@media (min-width: 800px) {
    header {
    background-position-y: 70%;
    height: 10em;
    }
    h1 {
        padding-top: 1em;
    }   
}

@media (min-width: 1300px) {
    h1 {
        padding-top: 2.5em;
    }
}

