/* Chris Kieran 2018 */

/*Site Wide Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
    height: 100%;
}
.btn {
    color: white!important;
    border-color: white!important;
    border-radius: 0%;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    text-align: center;
}
.subpage-heading {
    font-family: 'Raleway', 'sans-serif'; 
    color: #0d1c3d; 
    text-align: center;
    font-size: 200%;
    margin-bottom: .5em;
}
.subpage-subheading {
    font-family: 'Raleway', 'sans-serif'; 
    color: #0d1c3d; 
    text-align: center;
}
/* Nav Styles */

.navbar-inner {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.navbar-brand {
    font-family: 'Libre Barcode 128 Text', 'cursive';
    font-size: 2em;
    text-transform: lowercase;
}
.navbar-toggler {
    float: right;
    margin-top: 2%;
}

/* Footer Styles */
.footer {
    flex-shrink: 0;
    /* Set the fixed height of the footer here */
    height: 2em;
    line-height: 60px; /* Vertically center the text there */
    background-color: transparent;
}
.footer-links {
    list-style-type: none; 
    text-align: center;
}
.footer-links li {
    display: inline-block;
    margin: 3%;
    color: white;
    font-family: 'Raleway', 'sans-serif';     
}
#homebtn:hover, #aboutbtn:hover, #portfoliobtn:hover, #hiremebtn:hover {
    background-color: white;
    color: #0d1c3d!important;
}
.footer-email {
    text-align: center;
    color: white;
}
.footer-email a {
    color: white;
}
/* Index Styles */    
.index-toggler {
    background-color: #0d1c3d;
    border-color: white!important;
}
.index-content{
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground-mobile.jpg");
    background-repeat: no-repeat;
    height: 35em;
    background-size: cover;  
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 0 auto;  
}    
.index-heading {
    color: white;
    /* font-family: 'Play', sans-serif; */
    /* font-family: 'Righteous', cursive; */
    font-family: 'Julius Sans One', sans-serif;
    font-size: 200%;
    text-align: center;
    margin: .5em;
}
.index-subheading {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 120%;
}

.index-jargon{
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    /* color: #0d1c3d;  */
    width: 80%;
    margin: auto;
    text-align: center;    
    font-weight: lighter;
    font-size: 130%;
}

.services ul{
    font-family: 'Libre Barcode 128 Text', 'cursive';
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 8em auto;
    width: 80%;
}
.services li {
    margin: auto;
    font-size: 250%;
    list-style-type: none;
    color: #0d1c3d;
}
.services a:hover {
    text-decoration: none;
}
.fade-in-sites {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in-stores {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 4s;
}
.fade-in-services {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 6s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* About Styles */
.about-content{
    background-color: white;
    color: #0d1c3d;  
    font-family: 'Raleway', 'sans-serif';
    padding: 2em;
    min-height: 400px;
}
#about-btn-home:hover, #about-btn-about:hover, #about-btn-portfolio:hover, #about-btn-hireme:hover {
    background-color: white;
    color:black!important;
}
.about-toggler {
    border-color: white!important;
}

.skills ul {
    margin: auto;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    max-width: 600px;
}

.skills li {
    background: #fbfbfb;
    border-radius: 2%;
    padding: .5em;
}
.skills li:nth-child(odd) { 
    background: #d1dcf5; }

.about-footer {
    margin-top: 15%;
}
/* portfolio content */
.portfolio-content{   
    color: white;  
    font-family: 'Raleway', 'sans-serif'; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.portfolio-toggler {
    background-color: #0d1c3d;
    border-color: black!important;
}
.portfolio-navbar-inner {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.apps {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 1em;
}
.portfolio-container {
    width: 350px;
}
.portfolio-heading {
    margin: .5em;
}
.app-subheading {
    margin-top: .5em;
}
.portfolio-desc{
    float: left;
    height: 5em;
    width: 50%;
    padding: 1em;
}
.portfolio-tech {
    float: right;
    height: 5em;
    width: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio-link {
    color: #0d1c3d;
    font-size: 120%;
}
.portfolio-icon {
    height: 30px;
    width: auto;
    margin: .2em;
}
/* Contact Styles */
.contact-content{
    background-color: white; 
    font-family: 'Raleway', 'sans-serif'; 
    padding: 3em;
}
.contact-content h1, h2{
    font-size: 150%; 
}
.contact-small {
    font-size: 120%;
    margin: 1em;
}
.thumbnail-round {
    border-radius: 50%;
    border: 3px solid #0d1c3d;
    width: 200px;
    margin: .5em;
}
.contact-form {
    margin: auto;
}
.form-input {
    text-align: center;
    margin: .5em;
    border: 2px solid white;
    border-bottom: 2px solid #0d1c3d;
    background: #fbfbfb;
}
.contact-submit {
    background-color: #0d1c3d!important;
    border: 2px solid white!important;
    width: 100px;
    height: 50px;
    margin: 1em;
}
.contact-submit:hover{
    background-color: white!important;
    color: #0d1c3d!important;
    border: 2px solid !important;
}   
#name {
    width: 50%;
}
#email {
    width: 60%;
}
#phone  {
    width: 50%;
}
#message {
    width: 80%;
}

@media (min-width: 576px) {
    /* Index 576px */
    .index-heading {
        margin: 1em;
        font-weight: bold;
    }
    .index-subheading {
        font-weight: bold;
        color: #0d1c3d;
    }
    .index-jargon {
        color: #0d1c3d;
        font-size: 200%;
        font-weight: 400;
    }
    .services ul {
        margin: 0 auto;
    }
    /* About 576px */
    .about-content {
        font-size: 120%;
    }
    .about-me {
        font-size: 110%;
    }
    /* Portfolio 576px */
    .portfolio-container {
        width: 500px;
    }
    /* Contact 576 */
}

@media (min-width: 768px) {
    /* Index 768px */
    .index-content{
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground-768.jpg");
    }
    .index-heading {
        color: #0d1c3d;
        margin-top: 2em;
    } 
    /*portfolio 768px */

    /* Contact 768 */
    .thumbnail-round {
        margin: 1em;
    }
}

@media (min-width: 992px) { 
    /* Index 992px */

    /* About 992px */

    .about-me {
        margin: 20% auto;
    }
    .about-footer {
    margin-top: 0%;
    }
    /* Portfolio 992px */
    /* Contact 992px */
    #name, #email, #phone {
    height: 3em;
    width: 50%;
    }
}

@media (min-width: 1200px) {
    /* Index 1200px */
    .index-content{
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground.jpg");
    }
    .index-heading {
        font-size: 300%;
        margin: 1.2em auto;
    }
    .index-subheading {
        font-size: 150%;
    }
    .index-jargon {
        margin-top: 5em;
    }
    .services ul {
        margin: 2em auto;
    }
    /* Portfolio 1200px */
    /* Contact 1200px */
}

